# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
.env/
checkpoints/

# Ignore VSCode settings
.vscode/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and temp files
*.log
*.tmp
